    /*Белобежевая таблица начало */
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}

caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;}

th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: center; /* left */
}
td {
    padding: 10px;
    text-align: center /* Не было */
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #E8E6D1;
}
/*Белобежевая таблица конец */




/*Стиль первой строчки начало*/
th {
    vertical-align: bottom;
    background-color: #666;
    color: #fff;
    text-align: center;

}
/*Стиль первой строчки конец*/


/* Fixed Headers */

th {
    position: sticky;
    top: -1px;
    z-index: 0;/*2*/
}

th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 0;/*1*/
}

th[scope=row] { /* Все th(ячейки заголовка - h - head) с атрибутом scope, значение которого равно row*/
    vertical-align: top;
    color: inherit;
    background-color: inherit;
    background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);
}

table:nth-of-type(2) th:not([scope=row]):first-child {
    left: 0;
    z-index: 3;
    background: linear-gradient(90deg, #666 0%, #666 calc(100% - .05em), #ccc calc(100% - .05em), #ccc 100%);
}


/* Fixed Headers End*/

/* Инпуты и селекты начало */
    input.form-control#search-text{
        border: 3px solid #ced4da;
        margin-top: 10px;
        margin-bottom: 10px
    }

    select.form-select#selectBuilding,
    select.form-select#selectDevice,
    label.input-group-text,
    span.input-group-text{
        border: 3px solid #ced4da;
        margin-top: 10px;
        margin-bottom: 10px
    }
    /* Инпуты и селекты конец */

    /*Кнопка в Нав-баре */
    .button-nav
    {
        margin-left: 5px;
        margin-right: 5px
    }

    /* Красивая надпись начало */

    .logo-title{margin:50px auto;text-align:center;cursor: pointer}
    .logo-title a{text-decoration:none;-webkit-transform:perspective(2.5em) rotateX(15deg) scaleY(0.8);-moz-transform:perspective(2.5em) rotateX(15deg) scaleY(0.8);-ms-transform:perspective(2.5em) rotateX(15deg) scaleY(0.8);-o-transform:perspective(2.5em) rotateX(15deg) scaleY(0.8);transform:perspective(2.5em) rotateX(15deg) scaleY(0.8);-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;display:inline-block;text-align:center;text-transform:uppercase;font-size:75px;font-weight:700;font-family:'Exo 2';line-height:.8;color:#fbd62a;text-shadow:0 -1px 15px rgba(0,0,0,0.9),0 1px 0 #7f6303,0 3px 0 #846703,0 5px 0 #896b03,0 7px 0 #8e6f03,0 9px 0 #937203,0 6px 50px rgba(252,223,92,0.8)}
    .logo-title a:first-line{font-size:.8em}
    .logo-title a:hover{-webkit-transform:perspective(8em) rotateX(11deg) scale(1.2);-moz-transform:perspective(8em) rotateX(11deg) scale(1.2);-ms-transform:perspective(8em) rotateX(11deg) scale(1.2);-o-transform:perspective(8em) rotateX(11deg) scale(1.2);transform:perspective(8em) rotateX(11deg) scale(1.2);text-shadow:0 -1px 15px black,0 1px 0 #7f6303,0 2px 0 #846703,0 0 0 #896b03,0 1px 0 #8e6f03,0 2px 0 #937203,0 2px 30px rgba(252,223,92,0.6)}

    /* Красивая надпись конец */

/* Кнопка прокрутки вверх начало*/

    .scrollup {
        /*display: none;*/
        width: 44px;
        height: 44px;
        position: fixed;
        color: #fff;
        background-color: rgba(0,131,45,.9);
        left: 15px;
        bottom: 15px;
        cursor: pointer;
        border: 2px solid rgba(0,131,45,.9);; /* Параметры рамки */
        border-radius: 100%;
        opacity: 0;
    }

    .scrollup:hover {
        /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
        background-color: #4CCF50;
    }

    .scrollup:active {
        background-color: #3e8e41;
        box-shadow: inset 1px 1px #000;
        /* transform: translateY(4px); */
        border: 1px solid #000;
    }

    /* Кнопка прокрутки вверх конец*/






